/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
aside,
body,
div,
figure,
figcaption,
footer,
h1,
h2,
header,
html,
img,
nav,
p,
section,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

/* fonts */

@font-face {
  font-family: 'Cheltenham';
  src: url(../font/Cheltenham.ttf) format('truetype');
}

@font-face {
  font-family: 'Gothique';
  src: url(../font/Gothique.ttf) format('truetype');
}

@font-face {
  font-family: 'Imperial';
  src: url(../font/Imperial.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  src: url(../font/LibreFranklin.ttf) format('truetype');
}

/* main */

nav {
  align-items: center;
  background-color: white;
  border-bottom: 1px #e2e2e2 solid;
  display: flex;
  flex-direction: row;
  height: 3em;
  position: fixed;
  width: 100%;
}

.left {
  align-items: center;
  display: flex;
  flex: 3;
}

.fa-bars {
  margin: 1em;
}

.fa-search {
  margin: 1em;
}

.left a {
  color: black;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 0.8em;
  font-weight: 900;
  margin: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.center {
  align-items: center;
  display: flex;
  flex: 3;
  justify-content: center;
}

.center a {
  color: black;
  font-family: 'Gothique', helvetica, arial, sans-serif;
  font-size: 2em;
  letter-spacing: -0.1em;
  text-decoration: none;
}

.right {
  align-items: center;
  display: flex;
  flex: 3;
  justify-content: flex-end;
}

.right .buttons {
  background-color: #567b95;
  border-radius: 0.2em;
  color: white;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 0.65em;
  font-weight: 200;
  margin-right: 0.5em;
  padding: 0.9em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.right .buttons:hover {
  background-color: #326891;
}

.right .fa-user {
  margin-right: 1.5em;
}

.row {
  align-items: center;
  background-color: white;
  display: flex;
  flex: 3;
  height: 1.2em;
  justify-content: flex-end;
  position: fixed;
  top: 3.05em;
  width: 100%;
}

.row .anchors {
  color: #326891;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.row .anchors:nth-child(2) {
  border-left: 1px #888 solid;
  margin: 1em;
  padding: 0.3em 0.5em;
}

h1 {
  font-family: 'Cheltenham', georgia, "times new roman", times, serif;
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.25em;
  margin: 0 auto 0.6em;
  padding-top: 2.5em;
  width: 18em;
}

figure img {
  display: block;
  margin: 0 auto;
  width: 59em;
}

figcaption {
  color: #666;
  display: block;
  font-family: 'Imperial', georgia, 'times new roman', times, serif;
  font-size: 0.95em;
  line-height: 1.3em;
  margin: 0.5em auto;
  padding-right: 12em;
  width: 50em;
}

figcaption span {
  color: #888;
}

.article_info {
  display: flex;
  flex-direction: column;
  margin: 3em auto 1.5em;
  width: 37em;
}

.author {
  color: #333;
  display: block;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 1em;
}

.date_icons {
  display: flex;
  flex-direction: row;
}

.date {
  align-self: center;
  color: #333;
  display: flex;
  flex: 2;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 0.75em;
}

.icons {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}

.icons .icon {
  color: black;
  background-color: #eee;
  border: 2px #eee solid;
  padding: 0.4em;
  border-radius: 50%;
  margin-right: 1em;
  opacity: 0.75;
}

.icons .icon:hover {
  background-color: white;
}

.tags {
  height: 1em;
  margin-right: 1em;
}

.tags img {
  height: 1.7em;
}

.section {
  font-family: 'Imperial', georgia, 'times new roman', times, serif;
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0 auto;
  width: 30em;
}

.section h2 {
  font-weight: 700;
  margin-bottom: 1em;
}

.section p {
  margin-bottom: 1.5em;
}

.links {
  color: #326891;
}

.unlock {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-weight: 800;
  line-height: 1.3em;
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.unlock p {
  margin: 0;
}

.unlock a {
  text-decoration: none;
}

.border_top {
  border-bottom: 1px #888 solid;
  margin: 0 auto 1em;
  width: 4em;
}

.border_bottom {
  border-bottom: 1px #888 solid;
  margin: 1em auto 0;
  width: 4em;
}

/* aside */

aside {
  display: flex;
  flex-direction: column;
  left: 62em;
  position: absolute;
  top: 120em;
  width: 13em;
}

aside .title {
  border-bottom: 1px #eee solid;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

aside .ads {
  align-items: center;
  display: flex;
  flex-direction: row;
}

aside .ads img {
  height: 5em;
  margin: 0.5em;
  width: 5em;
}

aside .ads a {
  color: black;
  text-decoration: none;
}

aside .ads a:hover {
  text-decoration: underline;
}

/* media queries */

@media (min-width: 1100px) {
  .fa-user,
  .row {
    display: none;
  }
}

@media (max-width: 1101px) {
  .buttons,
  .fa-search,
  .space {
    display: none;
  }

  figure img,
  figcaption {
    padding: 0;
    width: 98%;
  }
}

/*@media (max-width: 950px) {
  .article_info,
  h1,
  .section {
    padding: 0 0.5em;
    width: 80%;
  }
}

@media (max-width: 750px) {
  .left,
  .right {
    flex: 1;
  }

  .article_info,
  h1,
  .section {
    padding: 0 0.1em;
    width: 89%;
  }
} */
